* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Mono", monospace;
}
.title {
  text-align: center;
  color: #404040;
  margin: 1rem 0;
  color: #00284d;
}
.container {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: auto;
}
.flex {
  display: flex;
  width: 100%;
}
.text {
  width: 50%;
  margin: 1rem 0;
  padding: 1rem 0;
}
.formList {
  width: 100%;
}
.textarea {
  width: 100%;
  height: 400px;
  padding: 10px;
  font-size: 14px;
  border: none;
  resize: none;
}
.btn {
  width: 50%;
  margin: 10px auto;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border: none;
}
.yellow {
  background-color: #ffffcc;
}
.blue {
  background-color: #cce6ff;
}
.btn-holder {
  text-align: center;
}
.btn-color {
  background-color: #00284d;
  color: #fff;
}
.btn-color:hover {
  background-color: #001a33;
}
